In [1]:
# Data Visualization
# BTech Computer Science Stream , January 2025
# Week 5 Data Cleaning and Preparation  - Demonstration Code
# Name: Divyansh Garg , reg number - 240953118 , Date: 10/02/2025

In [4]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv("Movies.csv")
df

,movie_name,language,genre,rating,review
0,Titanic,English,Romance,7.8,Epic love story
1,The Dark Knight,English,Action,9.0,Legendary crime drama
2,Avatar,English,Action,7.8,Visual masterpiece
3,The Godfather,English,Crime,9.2,Masterpiece of crime and drama
4,Shawshank Redemption,English,Drama,9.3,Inspirational prison drama
5,The Matrix,English,Sci-Fi,8.7,Groundbreaking sci-fi
6,Interstellar,English,Adventure,8.6,Emotional and thought-provoking
7,Gladiator,English,Action,8.5,Epic and heroic story
8,Forrest Gump,English,Drama,8.8,Life-affirming journey
9,golmal,Hindi,Comedy,9.5,fun watch

In [6]:
highest_rated_movie = df.loc[df['rating'].idxmax()]
print("Highest rated movie is: ",highest_rated_movie)
df_hindi_movies = df[df['language'] == 'Hindi']
hindi_movies_file_path = "HindiMovies.csv"
df_hindi_movies.to_csv(hindi_movies_file_path, index=False)

print(f"The movie with the highest rating is:\n{highest_rated_movie}")
print(f"Hindi Movies saved to: {hindi_movies_file_path}")

Highest rated movie is:  movie_name       golmal
language          Hindi
genre            Comedy
rating              9.5
review        fun watch
Name: 9, dtype: object
The movie with the highest rating is:
movie_name       golmal
language          Hindi
genre            Comedy
rating              9.5
review        fun watch
Name: 9, dtype: object
Hindi Movies saved to: HindiMovies.csv

In [12]:
print("Question 2")

Question 2

In [14]:
import pandas as pd
import numpy as np

# Load the CEREALS dataset (replace 'cereals.csv' with the actual path)
try:
    cereals = pd.read_csv('cereals.csv')
except FileNotFoundError:
    print("Error: cereals.csv not found. Please provide the correct path.")
    exit()  # Exit the script if the file is not found

# a. 5-Number Summary (Initial)
print("Initial 5-Number Summary:")
print(cereals.describe())

# b. Replace Missing Values with Mean
numeric_cols = cereals.columns[cereals.dtypes != 'object']  # Select numeric columns
for col in numeric_cols:
    if -1 in cereals[col].values:  # Check if -1 exists in the column
        mean_val = cereals[col][cereals[col] != -1].mean() #Calculate mean excluding -1
        cereals[col] = cereals[col].replace(-1, mean_val)
        print(f"Replaced missing values in '{col}' with mean: {mean_val}")


# c. 5-Number Summary (After Missing Value Treatment)
print("\n5-Number Summary (After Missing Value Treatment):")
print(cereals.describe())

# Effectiveness of Missing Value Treatment:
print("\nEffectiveness of Missing Value Treatment:")
print("Replacing missing values with the mean can be effective if the data is missing at random (MAR) and the missing values are not a large proportion of the dataset.  It helps preserve the overall distribution of the data to some extent.  However, if the missing data is not MAR or if there are many missing values, this strategy may introduce bias. In this case, since we are replacing -1, which likely represents a true 0 value, this strategy is not completely accurate. A better approach would be to replace -1 with 0.")


# d. Replace Noisy Data with Median
def replace_outliers(df, col):
    Q1 = df[col].quantile(0.25)
    Q3 = df[col].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    median_val = df[col].median()
    df[col] = np.where((df[col] < lower_bound) | (df[col] > upper_bound), median_val, df[col])
    print(f"Replaced outliers in '{col}' with median: {median_val}")
    return df

for col in numeric_cols:
    cereals = replace_outliers(cereals, col)


# e. 5-Number Summary (After Noisy Value Treatment)
print("\n5-Number Summary (After Noisy Value Treatment):")
print(cereals.describe())

# Effectiveness of Noisy Value Treatment:
print("\nEffectiveness of Noisy Value Treatment:")
print("Replacing outliers with the median is a robust method for handling noisy data. It reduces the impact of extreme values without significantly altering the central tendency of the data.  It is generally effective when the data contains outliers due to measurement errors or other anomalies. However, it can mask truly extreme values if they are valid data points. We used the IQR method to identify outliers. Other methods could be used such as the standard deviation method.")


# Display the updated DataFrame (optional)
#print("\nUpdated DataFrame:")
#print(cereals)

Initial 5-Number Summary:
         calories    protein        fat      sodium      fiber    vitamins  \
count   76.000000  76.000000  76.000000   76.000000  76.000000   76.000000
mean   107.368421   2.526316   1.013158  160.065789   2.048684   28.289474
std     19.139378   1.089020   1.013159   84.318813   2.219038   22.487813
min     50.000000   1.000000   0.000000    0.000000   0.000000    0.000000
25%    100.000000   2.000000   0.000000  132.500000   0.750000   25.000000
50%    110.000000   2.500000   1.000000  180.000000   1.750000   25.000000
75%    110.000000   3.000000   2.000000  212.500000   3.000000   25.000000
max    160.000000   6.000000   5.000000  320.000000  14.000000  100.000000

           shelf     weight       cups     rating
count  76.000000  76.000000  76.000000  76.000000
mean    2.197368   1.030000   0.827500  42.327057
std     0.832982   0.151438   0.227204  13.820602
min     1.000000   0.500000   0.250000  18.042851
25%     1.000000   1.000000   0.670000  32.932466
50%     2.000000   1.000000   0.750000  40.253086
75%     3.000000   1.000000   1.000000  50.780847
max     3.000000   1.500000   1.500000  93.704912

5-Number Summary (After Missing Value Treatment):
         calories    protein        fat      sodium      fiber    vitamins  \
count   76.000000  76.000000  76.000000   76.000000  76.000000   76.000000
mean   107.368421   2.526316   1.013158  160.065789   2.048684   28.289474
std     19.139378   1.089020   1.013159   84.318813   2.219038   22.487813
min     50.000000   1.000000   0.000000    0.000000   0.000000    0.000000
25%    100.000000   2.000000   0.000000  132.500000   0.750000   25.000000
50%    110.000000   2.500000   1.000000  180.000000   1.750000   25.000000
75%    110.000000   3.000000   2.000000  212.500000   3.000000   25.000000
max    160.000000   6.000000   5.000000  320.000000  14.000000  100.000000

           shelf     weight       cups     rating
count  76.000000  76.000000  76.000000  76.000000
mean    2.197368   1.030000   0.827500  42.327057
std     0.832982   0.151438   0.227204  13.820602
min     1.000000   0.500000   0.250000  18.042851
25%     1.000000   1.000000   0.670000  32.932466
50%     2.000000   1.000000   0.750000  40.253086
75%     3.000000   1.000000   1.000000  50.780847
max     3.000000   1.500000   1.500000  93.704912

Effectiveness of Missing Value Treatment:
Replacing missing values with the mean can be effective if the data is missing at random (MAR) and the missing values are not a large proportion of the dataset.  It helps preserve the overall distribution of the data to some extent.  However, if the missing data is not MAR or if there are many missing values, this strategy may introduce bias. In this case, since we are replacing -1, which likely represents a true 0 value, this strategy is not completely accurate. A better approach would be to replace -1 with 0.
Replaced outliers in 'calories' with median: 110.0
Replaced outliers in 'protein' with median: 2.5
Replaced outliers in 'fat' with median: 1.0
Replaced outliers in 'sodium' with median: 180.0
Replaced outliers in 'fiber' with median: 1.75
Replaced outliers in 'vitamins' with median: 25.0
Replaced outliers in 'shelf' with median: 2.0
Replaced outliers in 'weight' with median: 1.0
Replaced outliers in 'cups' with median: 0.75
Replaced outliers in 'rating' with median: 40.253086499999995

5-Number Summary (After Noisy Value Treatment):
         calories    protein        fat      sodium      fiber  vitamins  \
count   76.000000  76.000000  76.000000   76.000000  76.000000      76.0
mean   107.236842   2.401316   1.013158  181.381579   1.792105      25.0
std      8.099166   0.875670   1.013159   60.186370   1.520220       0.0
min     90.000000   1.000000   0.000000   15.000000   0.000000      25.0
25%    100.000000   2.000000   0.000000  147.500000   0.750000      25.0
50%    110.000000   2.250000   1.000000  180.000000   1.625000      25.0
75%    110.000000   3.000000   2.000000  212.500000   3.000000      25.0
max    120.000000   4.000000   5.000000  320.000000   6.000000      25.0

           shelf  weight       cups     rating
count  76.000000    76.0  76.000000  76.000000
mean    2.197368     1.0   0.817632  41.623743
std     0.832982     0.0   0.213478  12.464724
min     1.000000     1.0   0.250000  18.042851
25%     1.000000     1.0   0.670000  32.932466
50%     2.000000     1.0   0.750000  40.179526
75%     3.000000     1.0   1.000000  50.031833
max     3.000000     1.0   1.330000  74.472949

Effectiveness of Noisy Value Treatment:
Replacing outliers with the median is a robust method for handling noisy data. It reduces the impact of extreme values without significantly altering the central tendency of the data.  It is generally effective when the data contains outliers due to measurement errors or other anomalies. However, it can mask truly extreme values if they are valid data points. We used the IQR method to identify outliers. Other methods could be used such as the standard deviation method.