In [79]:
# Data Visualization
# BTech Computer Science Stream , January 2025
# Week 1 Python Language Basics - Demonstration Code
# Name : Divyansh Garg , 240953118 , Date : 06/01/2025

In [1]:
print('Divyansh Garg')

Divyansh Garg

In [4]:
var_A = 5
var_B = 3
print('Variable var_C = ',var_A + var_B)

Variable var_C =  8

In [5]:
print(var_A/var_B) # Quotient
print(var_A//var_B) # Floor value ( Round - off )
print(var_A%var_B) # Remainder

1.6666666666666667
1
2

In [7]:
var_fA = 0.345
var_fB = 6.8e-4
print(var_fA + var_fB)
print(var_fB)

0.34568
0.00068

In [9]:
var_strA = 'This is my first Python class'
var_strB = """string that spans
multiple Lines
"""
print(var_strB)
var_strB.count("\n")

string that spans
multiple Lines

2

In [10]:
var_strC = var_strA.replace("class","demonstration")
var_strC

'This is my first Python demonstration'

In [15]:
var_BoolA = True
var_BoolB = False
var_BoolB?

In [19]:
var_Int = 1
var_BoolC = bool(var_Int)
print(type(var_Int))
print(type(var_BoolC))

<class 'int'>
<class 'bool'>

In [33]:
def fn_add_maybe_multiply(var_a , var_b , var_c = None):
    result = var_a + var_b
    if var_c is not None :
        result *= var_c
    return result

In [34]:
fn_add_maybe_multiply(1,2,2)

6

In [42]:
var_x = -5
if(var_x<0) :
    print("Negative")
else :
    print("Positive")

Negative

In [63]:
var_x = int(input("Enter a number: "))
if(var_x<0): 
    print("Its Negative")
elif(var_x==0) : 
    print("Equal to zero")
elif(0<var_x<5): 
    print("Positive but smaller than 5")
else : 
    print("Postive and larger than 5 too !")

Enter a number: -0846566
Its Negative

In [69]:
var_seqA = [1,2,None,4,None,5]
var_tot = 0
for value in var_seqA :
    if value is not None :
        var_tot += value
var_tot

12

In [78]:
var_seqB = [5,5,0,4,6,5,2,1,]
var_tot = 0
for value in var_seqB :
    if ( value == 5 ) :
        break
    var_tot += value
var_tot

0

In [80]:
var_x =  256
var_total = 0
while var_x > 0 :
    if var_total > 500 :
        break
    var_total += var_x
    var_x //= 2
var_total

504

In [87]:
var_x = 0
if var_x < 0 :
    print("Negative")
elif var_x == 0 :
    pass 
else :
    print("Positive")

In [99]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [100]:
var_seq = [1,2,3,4]
for i in range(len(var_seq)):
    print(var_seq[i])

1
2
3
4