In [2]:
# Data Visualization
# BTech Computer Science Stream , January 2025
# Week 4  Pandas, Data loading, Storage and File formats - Demonstration Code
# Name: Divyansh Garg , reg number - 240953118 , Date: 27/01/2025

In [3]:
import pandas as pd

In [14]:
temperatures = [12, 15, 14, 18, 20, 22, 16]
days_of_week = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
temp_list = pd.Series(temperatures,index=days_of_week)
temp_list
print("\nAverage temp is: ")
avg = temp_list.mean()
print(avg)
max_temp=temp_list.max()
min_temp=temp_list.min()
max_temp_day = temp_list.idxmax()
min_temp_day = temp_list.idxmin()
print(f"\nMaximum temperature: {max_temp}°C on {max_temp_day}")
print(f"Minimum temperature: {min_temp}°C on {min_temp_day}\n")
greater_values = temp_list[temp_list > 18]
print(f"\nTemperatures greater than 18°C:\n{greater_values}")
fahr_temp = temp_list*9/5+32
print(f"\nTemperatures in Fahrenheit:\n{fahr_temp}")
above_average_days = temp_list[temp_list > avg]
print(f"\nDays with temperatures above the average ({avg:.2f}°C):\n{above_average_days}")

Average temp is:
16.714285714285715

Maximum temperature: 22°C on Saturday
Minimum temperature: 12°C on Monday


Temperatures greater than 18°C:
Friday      20
Saturday    22
dtype: int64

Temperatures in Fahrenheit:
Monday       53.6
Tuesday      59.0
Wednesday    57.2
Thursday     64.4
Friday       68.0
Saturday     71.6
Sunday       60.8
dtype: float64

Days with temperatures above the average (16.71°C):
Thursday    18
Friday      20
Saturday    22
dtype: int64

In [3]:
import pandas as pd
data = {
    'Roll Number': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    'Name': ['Divyansh','Virat','Aditya','Abhinav','Riyan','Aryaman','Niel', 'Ayush','Nikhil','Kanav'],
    'Gender': ['M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M'],
    'Marks1': [35, 45, 50, 60, 72, 80, 55, 48, 39, 62],
    'Marks2': [40, 60, 55, 30, 80, 50, 42, 75, 20, 88],
    'Marks3': [75, 85, 72, 65, 90, 88, 60, 82, 45, 70]
}
df = pd.DataFrame(data)
df['Total Marks'] = df['Marks1'] + df['Marks2'] + df['Marks3']
lowest = df['Marks1'].min()
highest = df['Marks2'].max()
average = df['Marks3'].mean()
df['Average Marks'] = df[['Marks1', 'Marks2', 'Marks3']].mean(axis=1)
top_student = df.loc[df['Average Marks'].idxmax(), 'Name']
failed = df[df['Marks2'] < 40].shape[0]
print("Student DataFrame:")
print(df)
print(f"\nLowest Marks in Marks1: {lowest}")
print(f"Highest Marks in Marks2: {highest}")
print(f"Average Marks in Marks3: {average:.2f}")
print(f"Student with the highest average marks: {top_student}")
print(f"Number of students who failed in Marks 2 (< 40): {failed}")

Student DataFrame:
   Roll Number      Name Gender  Marks1  Marks2  Marks3  Total Marks  \
0            1  Divyansh      M      35      40      75          150
1            2     Virat      M      45      60      85          190
2            3    Aditya      M      50      55      72          177
3            4   Abhinav      M      60      30      65          155
4            5     Riyan      M      72      80      90          242
5            6   Aryaman      M      80      50      88          218
6            7      Niel      M      55      42      60          157
7            8     Ayush      M      48      75      82          205
8            9    Nikhil      M      39      20      45          104
9           10     Kanav      M      62      88      70          220

   Average Marks
0      50.000000
1      63.333333
2      59.000000
3      51.666667
4      80.666667
5      72.666667
6      52.333333
7      68.333333
8      34.666667
9      73.333333

Lowest Marks in Marks1: 35
Highest Marks in Marks2: 88
Average Marks in Marks3: 73.20
Student with the highest average marks: Riyan
Number of students who failed in Marks 2 (< 40): 2